.effect {
  display: flex;
  width: 100%;
  height: 330px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

  @media (max-width: $m_max) {
    display: none;
  }

  @media (min-width: $d_min) {
    background-color: #f2f2f2;
    height: 429px;
  }
}

.effect__wrapper {
  display: flex;
  margin: auto 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $d_min) {
    width: 920px;
  }
}

.effect__clock {
  box-sizing: border-box;
  width: 238px;
  height: 276px;
  margin: 0 40px 0 20px;
  background: url("../img/icon-timer.svg") no-repeat 50% 50%;
  background-size: 100%;

  @media (min-width: $d_min) {
    width: 298px;
    height: 345px;
    margin-right: 70px;
  }
}

.effect__clock_text {
  font-family: "Open sans bolt", "Arial", sans-serif;
  display: flex;
  width: 202px;
  height: 202px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 56px 18px 18px;
  padding: 16px 32px 24px;
  font-size: 96px;
  font-weight: 700;
  color: #d22856;
  border: 16px solid #d22856;

  @media (min-width: $d_min) {
    margin-top: 69px;
    width: 252px;
    height: 252px;
    padding: 25px 40px 24px;
    border: 18px solid #d22856;
    font-size: 120px;
  }
}

.effect__text_block {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px 0;

  @media (min-width: $d_min) {
    width: 60%;
  }
}

.effect__heading {
  font-size: 30px;
  font-weight: 700;
}

.effect__text {
  font-size: 14px;
  line-height: 24px;
  margin: 24px 0;

  @media (min-width: $d_min) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  color: #d22856;
}
