.form_app {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  height: 340px;
  padding: 42px 20px;
  box-sizing: border-box;
  justify-content: space-between;

  @media (min-width: $t_min) {
    order: -9;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 20px;
    height: 295px;
    padding: 54px 60px;
  }

  @media (min-width: $d_min) {
    width: 435px;
  }
}

.form_app__header {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;

  @media (min-width: $t_min) {
    position: absolute;
    align-self: center;
    top: -10px;
    padding: 0 30px;
    background-color: #ffffff;
  }
}

.form_app__label {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #283645;
}

.form_app__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form_app__radio_custom + .form_app__label:before {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  margin-right: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  align-self: center;
}

.form_app__radio_custom + .form_app__label:hover::before {
    border: 2px solid #283645;
  }

.form_app__radio_custom + .form_app__label:active::before {
    border: 2px solid #d22856;
  }

.form_app__radio_custom:checked + .form_app__label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='7.5' cx='7.5' cy='7.5' fill='%23d22856'/%3E%3C/svg%3E%0A");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
