.form_contact {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0 44px;
  flex-direction: column;
  height: 245px;

  @media (min-width: 661px) {
    margin: 50px 20px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 46px 60px 16px;
    order: -8;
  }

  @media (min-width: 980px) {
    height: auto;
    width: 940px;
    justify-content: space-between;
    box-sizing: border-box;
    align-self: center;
  }
}

.form_contact__header {
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
  position: absolute;
  align-self: center;
  top: -10px;
  padding: 0 30px;
  background-color: #ffffff;

  @media (max-width: 659px) {
    display: none;
  }
}

.form_contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 980px) {
    flex-direction: row;
  }
}

.form_contact__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 980px) {
    width: 375px;
  }
}

.form_contact__label {
  display: block;
  align-self: flex-start;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
  margin: 21px 20px;

  @media (min-width: 661px) {
    order: 1;
  }
}

.form_contact__input {
  position: relative;
  height: 55px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  color: #283645;
  font-size: 18px;

  @media (min-width: 980px) {
    width: 350px;
  }

  &:hover {
    border: 2px solid #d22856;
  }
}

.form_contact__phone_icon {
  background: #e5e5e5 url("../img/icon-phone.svg") no-repeat 0 0;
  width: 55px;
  height: 55px;
  position: absolute;
  align-self: flex-end;

  @media (max-width: 660px) {
    display: none;
  }
}

.form_contact__email_icon {
  background: #e5e5e5 url("../img/icon-mail.svg") no-repeat 0 0;
  width: 59px;
  height: 59px;
  position: absolute;
  align-self: flex-end;

  @media (max-width: 660px) {
    display: none;
  }
}
