.reviews {
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0;

  @media (min-width: $d_min) {
    padding: 50px auto;
    flex-direction: row;
  }
}

.reviews__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $d_min) {
    flex-direction: row;
    width: 920px;
  }
}

.reviews__arrow {
  display: none;
  width: 25px;
  height: 41px;

  @media (min-width: $d_min) {
    display: block;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding: 0 auto;

  @media (min-width: $d_min) {
    width: 730px;
    margin-right: 0 100px;
  }
}

.reviews__quotes {
  display: none;

  @media (min-width: $d_min) {
    display: block;
    align-self: center;
    width: 80px;
    height: 65px;
    background: #ffffff url("../img/icon-quotes.svg") no-repeat 50% 50%;
  }
}

.reviews__list {
  display: flex;
  width: 300%;
  margin-bottom: 40px;

  @media (min-width: $d_min) {
    width: 3*730px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $d_min) {
    width: 920px;
  }
}

.reviews__author {
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $t_min) {
    font-size: 20px;
    order: 1;
  }

  @media (min-width: $d_min) {
    font-size: 24px;
  }
}

.reviews__author_desc {
  display: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 0;

  @media (min-width: $t_min) {
    display: inline;
    order: 2;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 25px;

  @media (min-width: $t_min) {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.reviews__slider_marks {
  display: flex;
  width: 62px;
  height: 12px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $d_min) {
    display: none;
  }
}

.reviews__slider_mark {
  background: #283645;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 6px;
  height: 6px;

  &--active {
    background: #ffffff;
    border: 3px solid black;
  }
}
