.share {
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 55px;

  @media (min-width: $t_min) {
    padding-top: 100px;
  }

  @media (min-width: $d_min) {
    width: 980px;
    margin: 0 auto;
    align-self: flex-start;
  }
}

.share__heading {
  display: block;
  text-align: center;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  margin: 0 20px 55px;

  @media (min-width: $t_min) {
    font-size: 18px;
    margin: 0 80px 80px;
  }

  @media (min-width: $d_min) {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.share__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $d_min) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.share__bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 0 22px;

  @media (min-width: $t_min) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.share__button {
  display: inline-block;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  width: 276px;
  height: 59px;
  border-radius: 3px;
  margin: 48px 0 44px;

  &:hover {
    background-color: #1c9e5b;
    border: 2px solid #1c9e5b;
  }
}

.share__reqiured {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  & span {
    color: #d22856;
  }
}
