.tariffs {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 506px;
  background-color: #f2f2f2;
  padding: 40px 20px;

  @media (min-width: $t_min) {
    height: 400px;
    padding-bottom: 70px;
  }

  @media (min-width: $d_min) {
    flex-direction: row;
    padding: 40px auto;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    height: 534px;
  }
}

.tariffs__background {
  position: absolute;
  top: 0;
}

.tariffs__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  justify-content: center;
}

.tariffs__table {
  display: grid;
  margin-left: -50%;
  margin: 0 auto;
  grid-template-columns: 276px 276px 276px;
  grid-template-rows: 94px 59px 59px 59px;
  gap: 2px;

  @media (min-width: $t_min) {
    grid-template-columns: 153px 153px 153px 153px;
    grid-template-rows: 75px 45px 45px 45px;
  }

  @media (min-width: $d_min) {
    grid-template-columns: 233px 233px 233px 233px;
    grid-template-rows: 94px 59px 59px 59px;
  }
}

.tariffs__heading {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #283645;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
  color: #ffffff;
  font-size: 18px;

  @media (min-width: $t_min) {
    justify-content: center;
    padding-top: 0;
  }
}

.tariffs__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;

  @media (min-width: $d_min) {
    font-size: 18px;
  }
}

.tariffs__price {
  font-size: 18px;
  font-weight: 400;
  z-index: 2;

  @media (min-width: $d_min) {
    font-size: 24px;
  }
}

.tariffs__hit {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 0;
  top: 0;
  background: #283645 url("../img/bg-hit.svg") no-repeat;
  background-size: 74px 74px;
  color: #ffffff;
  font-size: 14px;

  &:before {
    position: absolute;
    content: "хит";
    left: 15px;
    top: 15px;
    transform: rotate(-45deg);

    @media (min-width: $t_min) {
      left: 10px;
      top: 10px;
    }

    @media (min-width: $d_min) {
      left: 15px;
      top: 15px;
    }
  }

  @media (min-width: $t_min) {
    width: 61px;
    height: 61px;
    background-size: 61px 61px;
  }

  @media (min-width: $d_min) {
    width: 74px;
    height: 74px;
    background-size: 74px 74px;
  }
}

.tariffs__cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: $t_min) {
    padding: 0 15px;
    justify-content: space-between;
  }
}

.tariffs__first_col {
  font-size: 14px;

  @media (max-width: $m_max) {
    display: none;
  }

  @media (min-width: $d_min) {
    font-size: 18px;
  }
}

.tariffs__next_col {
  text-transform: uppercase;

  @media (min-width: $t_min) {
    justify-content: center;

    & p {
      display: none;
    }
  }
}

.tariffs__yes {
  width: 31px;
  height: 21px;
}

.tariffs__no {
  width: 27px;
  height: 27px;
}

.tariffs__empty {
  visibility: hidden;
}

.tariffs__slider_marks {
  display: flex;
  width: 62px;
  height: 12px;
  margin: 40px auto 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $t_min) {
    display: none;
  }
}

.tariffs__slider_mark {
  background: #283645;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 6px;
  height: 6px;

  &--active {
    background: #ffffff;
    border: 3px solid black;
  }
}
