.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: #ffffff;

  &__heading {
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 400;
    color: #283645;
    font-size: 24px;
    line-height: 120%;
    margin: 50px auto 45px;

    @media (min-width: 661px) {
      font-size: 40px;
    }

    @media (min-width: 1200px) {
      font-size: 50px;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: auto;

    @media (min-width: 661px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }

    @media (min-width: 980px) {
      width: 940px;
      align-self: center;
    }
  }

  &__phone,
  &__email,
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 661px) {
      width: 50%;
    }

    @media (min-width: 980px) {
      width: auto;
    }
  }

  &__email {
    @media (min-width: 980px) {
      order: 1;
    }
  }

  &__action {
    font-size: 18px;
    font-weight: 700;
  }

  &__channel {
    margin: 0 auto 31px;
    text-align: center;
    font-size: 24px;
    color: #d22856;
    width: 250px;
  }

  &__map {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 0;
    background: url("../img/bg-map-mobile@1x.png") no-repeat 50% 50%;
    background-size: 100%;

    @media (min-width: 661px) {
      background: url("../img/bg-map-tablet@1x.jpg") no-repeat 50% 50%;
      background-size: 100%;
      height: 374px;
    }

    @media (min-width: 980px) {
      background: url("../img/bg-map-desktop@1x.jpg") no-repeat 50% 50%;
      height: 502px;
    }
  }
}
