.footer {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 284px;
  background-color: #ffffff;

  @media (min-width: 661px) {
    height: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;

    @media (min-width: 661px) {
      flex-direction: row;
    }

    @media (min-width: 980px) {
      width: 940px;
      margin: 40px auto;
    }
  }

  &__logo {
    width: 150px;
    height: 60px;
    padding: 0 auto;
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat 50% 50%;
  }

  &__socials {
    display: flex;
  }

  &__social_icon {
    display: block;
    width: 48px;
    height: 48px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
  }

  &__social_icon:not(:last-child) {
    margin-right: 8px;
  }

  &__social_icon:hover {
    border: 3px solid #283645;
  }

  &__twitter {
    background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
    margin-right: 14px;
  }

  &__facebook {
    background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
    margin-right: 14px;
  }

  &__youtube {
    background: url("../img/icon-youtube.svg") no-repeat 50% 50%;
  }

  &__developed_by {
    width: 150px;
    display: flex;
    align-items: center;
  }

  &__developed_by_text {
    font-size: 14px;
    margin-right: 15px;
  }

  &__developed_by_logo {
    display: block;
    width: 37px;
    height: 37px;
    background: url("../img/htmlacademy.svg") no-repeat;
    background-size: 100%;
  }
}
