.header {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  background-color: rgba(0, 0, 0, .3);
  z-index: 20;

  @media (min-width: 661px) {
    height: 110px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    width: 1200px;
  }

  &--dark-bg {
    background-color: #283645;

    @media (min-width: 980px) {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    &--border {
      border-bottom: 1px solid black;

      @media (min-width: 980px) {
        border-bottom: none;
      }
    }

    @media (min-width: 1200px) {
      padding-left: 130px;
      padding-right: 130px;
      border-bottom: none;
    }
  }

  &__logo {
    display: flex;
    width: 200px;
    height: 65px;
    background: url("../img/logo-pink-white-mobile.svg") no-repeat 0% 50%;

    @media (min-width: 661px) {
      height: 110px;
      background: url("../img/logo-pink-white-tablet.svg") no-repeat 0 27px;
    }

    @media (min-width: 1200px) {
      height: 110px;
      background: url("../img/logo-pink-white-desktop.svg") no-repeat 0 27px;
    }
  }

  &__toggle {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__toggle_label {
    padding-right: 20px;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}
