.header {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 21;


  @media (min-width: 661px) {
    height: 110px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    width: 1200px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    @media (min-width: 1200px) {
      padding-left: 130px;
      border-bottom: none;
    }
  }

  &__logo {
    display: flex;
    width: 200px;
    height: 65px;
    background: url("../img/logo-pink-white-mobile.svg") no-repeat 0% 50%;

    @media (min-width: 661px) {
      height: 110px;
      background: url("../img/logo-pink-white-tablet.svg") no-repeat 0 27px;
    }

    @media (min-width: 1200px) {
      height: 110px;
      background: url("../img/logo-pink-white-desktop.svg") no-repeat 0 27px;
    }
  }

  &__toggle {
    display: none;
  }

  &__toggle_label {
    padding-right: 20px;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}
