.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  height: 722px;
  position: relative;
  color: #ffffff;
  background:  #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 0% 0%;

  &__slogan {
    display: block;
    position: absolute;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    padding: 0;
    margin: 0 20px;
    top: 95px;
  }

  &__hand_banner {
    position: absolute;
    width: 258px;
    height: 286px;
    top: 176px;
  }

  &__download {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 320px;
    height: 271px;
    top: 462px;
    padding-top: 28px;
    align-items: center;
  }

  &__download_button {
    display: block;
    width: 280px;
    height: 55px;
    padding: 12px 0;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: (55px) / 2;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }

  &__download_button:hover {
    background-color: #ffffff;
    color: #d22856;
    font-weight: 700;
  }

  &__download_icons {
    display: flex;
    height: 60px;
    width: 210px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__download_icon {
    display: block;
    width: 60px;
    height: 60px;
  }

  &__download_ios {
    background: url("../img/logo-apple.svg") no-repeat 50% 50%;
  }

  &__download_android {
    background: url("../img/logo-android.svg") no-repeat 50% 50%;
  }

  &__download_windows {
    background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
  }

  &__available_for {
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
}
