.menu {
  display: none;
  width: 100%;

  @media (min-width: 1200px) {
    display: flex;
    padding-right: 130px;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;

    @media (min-width: 1200px) {
      flex-direction: row;
      width: auto;
      position: absolute;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    background-color: #1d2631;
    border-bottom: 2px solid black;

    @media (min-width: 1200px) {
      background: none;
      border-bottom: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 65px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;

    @media (min-width: 1200px) {
      font-size: 18px;
      height: 110px;
      margin-left: 80px;
    }
  }
}
