.menu {
  width: 100%;

  &--closed {
    display: none;
  }

  @media (min-width: 980px) {
    display: flex;
    padding-right: 130px;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;

    @media (min-width: 1200px) {
      flex-direction: row;
      width: auto;
      position: absolute;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media (max-width: 979px) {
      background-color: #283645;
      border-bottom: 1px solid black;
      border-top: 1px solid dimgrey;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    height: 65px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;

    @media (min-width: 1200px) {
      font-size: 18px;
      height: 110px;
      margin-left: 80px;
    }
  }
}
