.offer {
  display: block;
  position: relative;
  width: 100%;
  height: 174px;
  background-color: #ffffff;
  z-index: 10;

  &::after {
    background: url("../img/bg-triangle-white.svg") no-repeat 0 0;
  }

  &__text {
  display: block;
  position: absolute;
  font-size: 24px;
  color: #283645;
  text-align: center;
  margin: 44px 20px;
  }

  &__space {
    //display: none;
  }
}
