.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #ffffff;
  padding: 44px 0px;
  box-sizing: border-box;

  @media (min-width: 661px) {
    padding: 55px 0;
  }

  @media (min-width: 980px) {
    padding: 70px 0;
  }

  &__text {
    display: block;
    width: 220px;
    font-size: 24px;
    line-height: 120%;
    color: #283645;
    text-align: center;

    @media (min-width: 661px) {
      font-size: 40px;
      width: auto;
    }
  }

  &__space {
    display: inline;

    @media (max-width: 661px) {
      display: none;
    }
  }
}
