.tariffs {
  display: block;
  position: relative;
  width: 100%;
  height: 404px;
  background-color: #ffffff;

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1120px;
    height: 290px;
    left: -540px;
  }

  &__element {
    display: flex;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    width: 280px;
    align-items: center;
  }

  &__heading {
    height: 94px;
    background-color: #283645;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 18px;
  }

  &__heading span {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__cell {
    height: 63px;
    background-color: #ffffff;
    margin-top: -9px;
  }

  &__first_col {
    text-transform: uppercase;
    justify-content: flex-start;
    padding-left: 20px;
  }

  &__yes {
    background: #ffffff url("../img/icon-yes.svg") no-repeat 50% 50%;
    background-size: 31px 21px;
  }

  &__no {
    background: #ffffff url("../img/icon-no.svg") no-repeat 50% 50%;
    background-size: 31px 21px;
  }

  &__empty {
    visibility: hidden;
  }

  &__slider_marks,
  &__slider_marks:before,
  &__slider_marks:after {
    width: 6px;
    height: 6px;
    background: #283645;
    border: 3px solid black;
    border-radius: 50%;
    margin: 39px auto 43px;
  }
}
