@import "variables/sizes.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/intro.scss";
@import "blocks/offer.scss";
@import "blocks/advantages.scss";
@import "blocks/effect.scss";
@import "blocks/reviews.scss";
@import "blocks/tariffs.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/form_main.scss";
@import "blocks/share.scss";
@import "blocks/form_name.scss";
@import "blocks/form_contact.scss";
@import "blocks/form_app.scss";
@import "blocks/form_achievements.scss";
@import "blocks/form_text.scss";
@import "blocks/failure_pop_up.scss";
@import "blocks/success_pop_up.scss";
@import "blocks/photo_main.scss";
@import "blocks/posts.scss";
@import "blocks/panorama.scss";
@import "blocks/post.scss";
@import "blocks/upload.scss";

@font-face {
  font-family: "Open sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Open sans", sans-serif;
  background-color: #e5e5e5;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
