@import "header.scss";
@import "menu.scss";
@import "main.scss";
@import "intro.scss";
@import "offer.scss";
@import "advantages.scss";
@import "effect.scss";
@import "reviews.scss";
@import "tariffs.scss";
@import "contacts.scss";
@import "footer.scss";

@import "form_main.scss";
@import "share.scss";
@import "failure_pop_up.scss";
@import "success_pop_up.scss";

@import "photo_main.scss";
@import "posts.scss";
@import "upload.scss";

@font-face {
    font-family: "Open sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open sans", sans-serif;
  background-color: #e5e5e5;
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}
